body, html{
    line-height: 1;
    font-weight: 200;
    font-family: "PingFang SC","STHeitiSC-Light","Helvetica-Light",arial,sans-serif;
}

.clearfix{
    display: inline-block;
    &:after{
        content:"";
        display: block;
        clear:both;
        height:0;
        line-height:0;
        visibility: hidden;
    }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
    .border-1px{
        &:after{
            transform: scaleY(0.7)
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    .border-1px{
        &:after{
            transform: scaleY(0.5)
        }
    }
}